.hero-home {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100vh;
}

.subtitle {
    font-size: 20px;
    padding: 8px;
}

#search {
    width: 20rem !important;
}

.container {
    padding: 90px 0px 40px 0px !important;
}

.active{
     color: rgb(74, 134, 132) !important; 
     font-weight: 700;
}


a.btn-primary {
    background-color: #bece5f;
    border-color: #bece5f;
    color: rgba(0, 0, 0, .5);
    vertical-align: inherit !important;
}

a.btn-primary:hover {
    background-color: rgb(74, 134, 132);
    border-color: rgb(74, 134, 132);
    color: #fff;
}

.text-shadow {
    color: #bece5f;
}

.large-list {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: initial;
}

.will-help-you {
    border-bottom-right-radius: 150px;
    margin-bottom: -150px;
    z-index: 1;
    background: #fff;
}

.content .container {
    padding: 70px 40px;
}

.large-list>li {
    font-size: 1.5em;
    line-height: 130%;
    color: #292929;
    position: relative;
    padding-left: 58px;
    margin-bottom: 30px;
}

li::marker {
    color: rgb(74, 134, 132);
}

button.btn.btn-primary {
    background-color: #bece5f;
    border-color: #bece5f;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
    vertical-align: inherit !important;
}
input.btn.btn-primary {
    background-color: #bece5f;
    border-color: #bece5f;
    color: rgba(0, 0, 0, .5);
    margin-bottom: 1rem;
    vertical-align: inherit !important;
}

button.btn.btn-primary:hover {
    background-color: rgb(74, 134, 132);
    border-color: rgb(74, 134, 132);
    color: white;
}
input.btn.btn-primary:hover {
    background-color: rgb(74, 134, 132);
    border-color: rgb(74, 134, 132);
    color: white;
}

#user-avatar {
    width: 10em;
    height: 10em;
    border: 2px solid #82a07c;
    border-radius: 50%;
    text-align: center;
    background: rgb(236, 236, 236);
    margin: auto;
}

.card-body {
    padding-top: 186px;
}

input#upload {
    display: none;
}

#label {
    position: relative;
    height: 30px;
    width: 30px;
    top: 7.5rem;
    background-color: #bece5f;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    transition: ease-out 200ms;
    cursor: pointer;
}

#label:hover,
#label:focus {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: rgb(74, 134, 132);
}

.profile {
    margin-bottom: 50px;
}

#group {
    font-style: italic;
    font-weight: 600;
    color: #bece5f!important;
}

#reg {
    padding: 150px 0px 40px 0px !important;
}

.slice.bg-section-secondary {
    min-height: 75vh;
}

#element_0{
    margin-bottom: 1rem;
}
.element,
.answer {
    display: flex;
}

.answer {
    margin-left: 2rem;
}

.add-question {
    margin-top: 1.5rem;
}

.student-records{
    margin-top: 70px;
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 800;
    color: #dc3545;
}
.score{
    color:rgb(74, 134, 132);
    margin-top: 30px;
    margin-bottom: 1rem;
    font-size: 24px;
}
.add{
    position: fixed;
    bottom: 0;
    transform: translate(1200px, 10px);
}
.radio{
    margin-top: 0.8rem; 
    margin-right: 1rem;
}
#createNew a{
    text-decoration: none !important;
    color: rgba(0, 0, 0, .5);
}
#createNew a:hover{
    color: white
}
#video-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    background: url(assets/screen.png) no-repeat #94a233;
    background-size: cover;
}

#video-bg > video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto; 
}

 @supports (object-fit: cover) {
     #video-bg > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
 }

 .account-user-avatar {
    position: absolute;
    left: 115px;
    z-index: 100;
}
.account-user-name {
    display: block;
    font-weight: 600;
}
.account-position {
    display: block;
    font-size: 12px;
    margin-top: -3px;
}
.nav-user {
    padding: calc(16px / 2) 20px calc(16px / 2) 57px!important;
    text-align: left!important;
    position: relative;
    border: 1px solid #f1f3fa;
    border-width: 0 1px;
}